'scopeName': 'source.muse'
'name': 'Muse'
'fileTypes': [
  'muse'
]
'patterns': [
  { 'include': '#body' }
]
'repository':
  'body':
    patterns: [
      { 'include': '#code' }
      { 'include': '#code-tag' }
      { 'include': '#verbatim-tag'}
      { 'include': '#emphasis' }
      { 'include': '#link' }
      { 'include': '#del-tag' }
      { 'include': '#comment-line' }
      { 'include': '#comment-block' }
      { 'include': '#horizontal-rule' }
      { 'include': '#page-break' }
      { 'include': '#example'}
      { 'include': '#example-tag' }
      { 'include': '#heading' }
      { 'include': '#quote-line' }
      { 'include': '#quote-tag' }
      { 'include': '#invalid-closing-tag' }
      { 'include': '#unordered-list-marker' }
      { 'include': '#ordered-list-marker' }
    ]
  'comment-line':
    {
      'match': '^;(\\s.*|)$'
      'name': 'comment.line.muse'
    }
  'comment-block':
    {
      'begin': '<comment>'
      'end': '</comment>'
      'name': 'comment.block.muse'
    }
  'horizontal-rule':
    {
      'match': '^-{4,}\\s*$'
      'name': 'comment.hr.muse'
    }
  'page-break':
    {
      'match': '^\\s{6,}\\* \\* \\* \\* \\*\\s*$'
      'name': 'comment.pagebreak.muse'
    }
  'heading':
    {
      'match': '^\\\*+ .*$'
      'name': 'markup.heading.muse'
    }
  'example':
    {
      'begin': '{{{'
      'end': '}}}'
      'name': 'markup.raw.muse'
    }
  'example-tag':
    {
      'begin': '<example>'
      'end': '</example>'
      'name': 'markup.raw.muse'
    }
  'emphasis':
    'patterns': [
      {
        'begin': '(?<![[:alnum:]]|\\*)\\*\\*\\*(?!\\s|\\*)'
        'end': '(?<=[^\\s])\\*\\*\\*(?![[:alnum:]])'
        'name': 'markup.bold.italic.muse'
      }
      {
        'begin': '(?<![[:alnum:]]|\\*)\\\*\\\*(?!\\s|\\*)'
        'end': '(?<=[^\\s])\\\*\\\*(?![[:alnum:]])'
        'name': 'markup.bold.muse'
      }
      {
        'begin': '(?<![[:alnum:]]|\\*)\\*(?!\\s|\\*)'
        'end': '(?<=[^\\s])\\*(?![[:alnum:]])'
        'name': 'markup.italic.muse'
      }
      {
        'begin': '<strong>'
        'end': '</strong>'
        'name': 'markup.bold.muse'
      }
      {
        'begin': '<em>'
        'end': '</em>'
        'name': 'markup.italic.muse'
      }
      {
        'begin': '<strong>'
        'end': '</strong>'
        'name': 'markup.bold.muse'
      }
    ]
  'code':
    {
      'begin': '(?<![[:alnum:]])=(?!\\s|=)'
      'end': '='
      'name': 'markup.raw.muse'
    }
  'code-tag':
    {
      'begin': '<code>'
      'end': '</code>'
      'name': 'markup.raw.muse'
    }
  'verbatim-tag':
    {
      'begin': '<verbatim>'
      'end': '</verbatim>'
      'name': 'markup.raw.muse'
    }
  'del-tag':
    {
      'begin': '<del>'
      'end': '</del>'
      'name': 'markup.deleted.muse'
    }
  'quote-line':
    {
      'match': '^>(\\s.*)$'
      'name': 'markup.quote.muse'
    }
  'quote-tag':
    {
      'begin': '<quote>'
      'patterns': [
        {
          'include': '#body'
        }
      ]
      'end': '</quote>'
      'name': 'markup.quote.muse'
    }
  'link':
    {
      'begin': '\\[\\['
      'end': ']]'
      'name': 'markup.underline.link.muse'
    }
  'invalid-closing-tag':
    {
      'match': '</[^>]*>'
      'name': 'invalid.illegal.muse'
    }
  'unordered-list-marker':
    {
      'match': '^\\s+(-)\\s'
      'captures':
        '1':
          'name': 'variable.unordered.list.muse'
    }
  'ordered-list-marker':
    {
      'match': '^\\s+([1-9][0-9]*\\.)\\s'
      'captures':
        '1':
          'name': 'variable.ordered.list.muse'
    }
